<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>NEXGEN - Business, Consulting, Finance, Insurance, Startup and Technology</title>

        <meta name="description" content="Business, Consulting, Finance, Insurance, Startup and Technology">
        <meta name="subject" content="Business, Consulting, Finance, Insurance, Startup and Technology">
        <meta name="author" content="Codings">

        <!-- ==============================================
        Favicons
        =============================================== -->
        <link rel="shortcut icon" href="../../static/images/favicon.ico">
        <link rel="apple-touch-icon" href="../../static/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../static/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../static/images/apple-touch-icon-114x114.png">

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="../../static/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/vendor/slider.min.css">
        <link rel="stylesheet" href="../../static/css/main.css">
        <link rel="stylesheet" href="../../static/css/vendor/icons.min.css">
        <link rel="stylesheet" href="../../static/css/vendor/icons-fa.min.css">
        <link rel="stylesheet" href="../../static/css/vendor/animation.min.css">
        <link rel="stylesheet" href="../../static/css/vendor/gallery.min.css">
        <link rel="stylesheet" href="../../static/css/vendor/cookie-notice.min.css">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="../../static/css/default.css">

        <!-- ==============================================
        Theme Color
        =============================================== -->
        <meta name="theme-color" content="#21333e">

        <!-- ==============================================
        Theme Settings
        =============================================== -->
        <style>
            :root {
                --nav-holder-bg-color: #111117;

                --section-1-bg-color: #111117;
                --section-2-bg-color: #eef4ed;
                --section-3-bg-color: #111117;
            }
        </style>
        
    </head>

    <body>
        
        <!-- Preloader -->
        <div id="preloader" data-timeout="2000" class="odd preloader counter">
            <div data-aos="fade-up" data-aos-delay="500" class="row justify-content-center text-center items">
                <div data-percent="100" class="radial">
                    <span></span>
                </div>
            </div>
        </div>

        <!-- Header -->
        <header id="header">

            <!-- Top Navbar -->
            <nav class="navbar navbar-expand top">
                <div class="container header">

                    <!-- Navbar Items [left] -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link pl-0"><i class="fas fa-clock mr-2"></i>Open Hours: Mon - Sat - 9:00 - 18:00</a>
                        </li>
                    </ul>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items [right] -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-phone-alt mr-2"></i>+1 (305) 1234-5678</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-envelope mr-2"></i>hello@example.com</a>
                        </li>
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link pr-0"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-fixed sub">
                <div class="container header">

                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="/">
                        <span class="brand">
                            <span class="featured">
                                <span class="first">NEX</span>
                            </span>
                            <span class="last">GEN</span>
                        </span>
                        
                        <!-- 
                            Custom Logo
                            <img src="../../static/images/logo.svg" alt="NEXGEN">
                        -->
                    </a>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items -->
                    <ul class="navbar-nav items">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">HOME <i class="icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Multi-Page <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="home-1.html" class="nav-link">Consulting <span>1</span></a></li>
                                        <li class="nav-item"><a href="home-2.html" class="nav-link">Consulting <span>2</span></a></li>
                                        <li class="nav-item"><a href="home-3.html" class="nav-link">Consulting <span>3</span></a></li>
                                        <li class="nav-item"><a href="home-4.html" class="nav-link">Consulting <span>4</span></a></li>
                                        <li class="nav-item"><a href="home-5.html" class="nav-link">Consulting <span>5</span></a></li>
                                        <li class="nav-item"><a href="home-6.html" class="nav-link">Consulting <span>6</span></a></li>
                                        <li class="nav-item"><a href="home-7.html" class="nav-link">Logistics <span>7</span></a></li>
                                        <li class="nav-item"><a href="home-8.html" class="nav-link">Logistics <span>8</span></a></li>
                                        <li class="nav-item"><a href="home-9.html" class="nav-link">Logistics <span>9</span></a></li>
                                        <li class="nav-item"><a href="home-10.html" class="nav-link">Logistics <span>10</span></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">One-Page <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="home-1-one-page.html" class="nav-link">Consulting <span>1</span></a></li>
                                        <li class="nav-item"><a href="home-2-one-page.html" class="nav-link">Consulting <span>2</span></a></li>
                                        <li class="nav-item"><a href="home-3-one-page.html" class="nav-link">Consulting <span>3</span></a></li>
                                        <li class="nav-item"><a href="home-4-one-page.html" class="nav-link">Consulting <span>4</span></a></li>
                                        <li class="nav-item"><a href="home-5-one-page.html" class="nav-link">Consulting <span>5</span></a></li>
                                        <li class="nav-item"><a href="home-6-one-page.html" class="nav-link">Consulting <span>6</span></a></li>
                                        <li class="nav-item"><a href="home-7-one-page.html" class="nav-link">Logistics <span>7</span></a></li>
                                        <li class="nav-item"><a href="home-8-one-page.html" class="nav-link">Logistics <span>8</span></a></li>
                                        <li class="nav-item"><a href="home-9-one-page.html" class="nav-link">Logistics <span>9</span></a></li>
                                        <li class="nav-item"><a href="home-10-one-page.html" class="nav-link">Logistics <span>10</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">PAGES <i class="icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">About <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="page-about-1.html" class="nav-link">About <span>1</span></a></li>
                                        <li class="nav-item"><a href="page-about-2.html" class="nav-link">About <span>2</span></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="page-services-1.html" class="nav-link">Services</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Single Service <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="page-single-service-1.html" class="nav-link">Single Service <span>1</span></a></li>
                                        <li class="nav-item"><a href="page-single-service-2.html" class="nav-link">Single Service <span>2</span></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="page-projects-1.html" class="nav-link">Projects</a></li>
                                <li class="nav-item"><a href="page-single-project-1.html" class="nav-link">Single Project</a></li>
                                <li class="nav-item"><a href="page-pricing-table-1.html" class="nav-link">Pricing Table</a></li>
                                <li class="nav-item"><a href="page-our-people-1.html" class="nav-link">Our People</a></li>
                                <li class="nav-item"><a href="page-testimonials-1.html" class="nav-link">Testimonials</a></li>
                                <li class="nav-item"><a href="page-partners-1.html" class="nav-link">Partners</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Contact <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="page-contact-1.html" class="nav-link">Contact <span>1</span></a></li>
                                        <li class="nav-item"><a href="page-contact-2.html" class="nav-link">Contact <span>2</span></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="page-search-1.html" class="nav-link">Search Results</a></li>
                                <li class="nav-item"><a href="page-404-1.html" class="nav-link">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">BLOG <i class="icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Blog Posts <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="page-blog-1.html" class="nav-link">Blog Posts <span>1</span></a></li>
                                        <li class="nav-item"><a href="page-blog-2.html" class="nav-link">Blog Posts <span>2</span></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="page-single-post-1.html" class="nav-link">Single Post</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">PARTS <i class="icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="part-section.html" class="nav-link">Section</a></li>
                                <li class="nav-item"><a href="part-text-block.html" class="nav-link">Text Block</a></li>
                                <li class="nav-item"><a href="part-card.html" class="nav-link">Card</a></li>
                                <li class="nav-item"><a href="part-image-gallery.html" class="nav-link">Image Gallery</a></li>
                                <li class="nav-item"><a href="part-image-block.html" class="nav-link">Image Block</a></li>
                                <li class="nav-item"><a href="part-video-gallery.html" class="nav-link">Video Gallery</a></li>
                                <li class="nav-item"><a href="part-carousel.html" class="nav-link">Carousel</a></li>
                                <li class="nav-item"><a href="part-counter.html" class="nav-link">Counter</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#search">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- Navbar Toggle -->
                    <ul class="navbar-nav toggle">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                                <i class="icon-menu m-0"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- Navbar Action -->
                    <ul class="navbar-nav action">
                        <li class="nav-item ml-3">
                            <a href="https://themeforest.net/item/nexgen-corporate-business-consulting-html-template/27965988?license=regular&open_purchase_for_item_id=27965988" target="_blank" class="btn ml-lg-auto primary-button">PURSHASE</a>
                            <!-- 
                                Suggestion: Replace the purchase button above with a contact button.
                                
                                <a href="#contact" class="smooth-anchor btn ml-lg-auto primary-button">CONTACT US</a>
                            -->
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        
        <!-- Navbar Holder -->
        <div class="navbar-holder"></div>        

        <!-- Text Block 1 -->
        <section class="section-1 odd">
            <div class="container smaller">
                <div class="row intro">
                    <div class="col-12">
                        <h2>Text Block</h2>
                        <div class="row item widget-tags">
                            <div class="col-12 p-0 align-self-center">
                                <div class="badges">
                                    <span class="badge">Dark</span>
                                    <span class="badge">2 Columns</span>
                                    <span class="badge">Smaller Container</span>
                                    <span class="badge">Left Aligned</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                </div>
            </div>
        </section>

        <!-- Text Block 2 -->
        <section class="section-2">
            <div class="container">
                <div class="row text-right intro">
                    <div class="col-12">
                        <h2>Text Block</h2>
                        <div class="row item widget-tags">
                            <div class="col-12 p-0 align-self-center">
                                <div class="badges">
                                    <span class="badge">Light</span>
                                    <span class="badge">3 Columns</span>
                                    <span class="badge">Default Container</span>
                                    <span class="badge mr-0">Right Aligned</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-12 col-md-6 col-lg-4">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                </div>
            </div>
        </section>

        <!-- Text Block 3 -->
        <section class="section-3 odd">
            <div class="container full-grid">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2>Text Block</h2>
                        <div class="row item widget-tags">
                            <div class="col-12 align-self-center">
                                <div class="badges">
                                    <span class="badge">Dark</span>
                                    <span class="badge">4 Columns</span>
                                    <span class="badge">Full Container</span>
                                    <span class="badge">Center Aligned</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <p>Lorem ipsum dolor sit amet <a href="#">ornare rutrum</a> elit sit amet estibulum velit tortor interdum sed cursus eu sagittis.</p>
                        <p>Sed vitae tellus et arcu aliquet faucibus fermentum non lacus quam tortor ultrices accumsan.</p>
                        <blockquote>Lorem ipsum dolor sit amet consectetur adipiscing elit sed quam tortor ultrices accumsan mauris eget pulvinar.</blockquote>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>

            <!-- Footer [content] -->
            <section id="footer" class="odd footer offers">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3 footer-left">

                            <!-- Navbar Brand-->
                            <a class="navbar-brand" href="/">
                                <span class="brand">
                                    <span class="featured">
                                        <span class="first">TOTAL</span>
                                    </span>
                                    <span class="last">COUNTS</span>
                                </span>
                                
                            </a>
                            <p>CUENTAS CON NOSOTROS.</p>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="tel:+593984230099" class="nav-link">
                                        <i class="fas fa-phone-alt mr-2"></i>
                                        +593 984-230-099
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="mailto:totalcounts@hotmail.com" class="nav-link">
                                        <i class="fas fa-envelope mr-2"></i>
                                        totalcounts@hotmail.com
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-map-marker-alt mr-2"></i>
                                        Av. Isabel la Católica y José Zorrilla esq.
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'contactanos' %}" class="mt-4 btn outline-button">CONTACTANOS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-9 p-0 footer-right">
                            <div class="row items">
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Acerca</h4>
                                        <a href="{% url 'about' %}"><i class="icon-arrow-right"></i>La compañía</a>
                                        <a href="#" class="footer-info-link" data-info="mision"><i class="icon-arrow-right"></i>Misión</a>
                                        <a href="#" class="footer-info-link" data-info="vision"><i class="icon-arrow-right"></i>Visión</a>
                                        <a href="#" class="footer-info-link" data-info="objetivos"><i class="icon-arrow-right"></i>Objetivos</a>
                                        <a href="#" class="footer-info-link" data-info="acerca"><i class="icon-arrow-right"></i>Acerca de</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Servicios</h4>
                                        <a href="#" class="footer-service-link" data-service="tributario"><i class="icon-arrow-right"></i>Control Tributario</a>
                                        <a href="#" class="footer-service-link" data-service="rrhh"><i class="icon-arrow-right"></i>Recursos Humanos</a>
                                        <a href="#" class="footer-service-link" data-service="reglamentos"><i class="icon-arrow-right"></i>Reglamentos</a>
                                        <a href="#" class="footer-service-link" data-service="societario"><i class="icon-arrow-right"></i>Societario</a>
                                        <a href="#" class="footer-service-link" data-service="legal"><i class="icon-arrow-right"></i>Consultoría Legal</a>
                                        <a href="#" class="footer-service-link" data-service="auditorias"><i class="icon-arrow-right"></i>Auditorías</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Soporte</h4>
                                        <a href="#" class="footer-info-link" data-info="responsabilidad"><i class="icon-arrow-right"></i>Responsabilidad</a>
                                        <a href="#" class="footer-info-link" data-info="terminos"><i class="icon-arrow-right"></i>Términos de Uso</a>
                                        <a href="#" class="footer-info-link" data-info="cookies"><i class="icon-arrow-right"></i>Acerca de Cookies</a>
                                        <a href="#" class="footer-info-link" data-info="privacidad"><i class="icon-arrow-right"></i>Políticas de Privacidad</a>
                                        <a href="#" class="footer-info-link" data-info="accesibilidad"><i class="icon-arrow-right"></i>Accesibilidad</a>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Copyright -->
            <section id="copyright" class="p-3 odd copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                            <p>Técnicos en Operaciones Tributarias Aguirre Larriva</p>
                            <!--
                                Suggestion: Replace the text above with a description of your website.
                             -->
                        </div>
                        <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                            <p>© 2026 TotalWeb by C.A.S. está desarrollado por <a href="https://www.totalcounts.com.ec/" target="_blank">Adrián Aguirre Larriva</a>.</p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>

        <!-- Modal [search] -->
        <div id="search" class="p-0 modal fade" role="dialog" aria-labelledby="search" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <h2>What are you looking for?</h2>
                                        <div class="badges">
                                            <span class="badge"><a href="#">Consulting</a></span>
                                            <span class="badge"><a href="#">Audit</a></span>
                                            <span class="badge"><a href="#">Assurance</a></span>
                                            <span class="badge"><a href="#">Advisory</a></span>
                                            <span class="badge"><a href="#">Financial</a></span>
                                            <span class="badge"><a href="#">Capital Markets</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="text" class="form-control" placeholder="Enter Keywords">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [sign] -->
        <div id="sign" class="p-0 modal fade" role="dialog" aria-labelledby="sign" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h2>Sign In</h2>
                                        <p>Don't have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#register">Register now</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">SIGN IN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [register] -->
        <div id="register" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h2>Register</h2>
                                        <p>Have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#sign">Sign In</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">REGISTER</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [map] -->
        <div id="map" class="p-0 modal fade" role="dialog" aria-labelledby="map" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header absolute" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body p-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.123073808986!2d12.490042215441486!3d41.89021017922119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61b6532013ad%3A0x28f1c82e908503c4!2sColiseu!5e0!3m2!1spt-BR!2sbr!4v1594148229878!5m2!1spt-BR!2sbr" width="600" height="450" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [responsive menu] -->
        <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                            <div class="contacts p-0 col-12 text-center">
                                <a href="{% url 'contactanos' %}" class="nav-link menu-extra-link">CONTACTANOS</a>
                                <a href="{% url 'signin' %}" class="nav-link menu-extra-link">INICIAR SESIÓN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>        
        
        <!-- ==============================================
        Google reCAPTCHA // Put your site key here
        =============================================== -->
        <script src="https://www.google.com/recaptcha/api.js?render=6Lf-NwEVAAAAAPo_wwOYxFW18D9_EKvwxJxeyUx7"></script>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="../../static/js/vendor/jquery.min.js"></script>
        <script src="../../static/js/vendor/jquery.easing.min.js"></script>
        <script src="../../static/js/vendor/jquery.inview.min.js"></script>
        <script src="../../static/js/vendor/popper.min.js"></script>
        <script src="../../static/js/vendor/bootstrap.min.js"></script>
        <script src="../../static/js/vendor/ponyfill.min.js"></script>
        <script src="../../static/js/vendor/slider.min.js"></script>
        <script src="../../static/js/vendor/animation.min.js"></script>
        <script src="../../static/js/vendor/progress-radial.min.js"></script>
        <script src="../../static/js/vendor/bricklayer.min.js"></script>
        <script src="../../static/js/vendor/gallery.min.js"></script>
        <script src="../../static/js/vendor/shuffle.min.js"></script>
        <script src="../../static/js/vendor/cookie-notice.min.js"></script>
        <script src="../../static/js/vendor/particles.min.js"></script>
        <script src="../../static/js/main.js"></script>

            <!-- Modal [información del sitio] -->
        <div id="footer-info-modal" class="footer-info-modal" aria-hidden="true">
            <div class="footer-info-overlay"></div>
            <div class="footer-info-dialog" role="dialog" aria-modal="true" aria-labelledby="footer-info-title">
                <button type="button" class="footer-info-close" aria-label="Cerrar">&times;</button>
                <div class="footer-info-content">
                    <span class="pre-title">TotalCounts</span>
                    <h3 id="footer-info-title"></h3>
                    <div id="footer-info-body"></div>
                </div>
            </div>
        </div>

        <style>
            .footer-info-modal {
                display: none;
                position: fixed;
                inset: 0;
                z-index: 99999;
                align-items: center;
                justify-content: center;
                padding: 20px;
            }
            .footer-info-modal.active { display: flex; }
            .footer-info-overlay {
                position: absolute;
                inset: 0;
                background: rgba(3, 10, 14, .78);
                backdrop-filter: blur(6px);
            }
            .footer-info-dialog {
                position: relative;
                z-index: 1;
                width: min(680px, 100%);
                max-height: 85vh;
                overflow-y: auto;
                padding: 38px;
                border-radius: 16px;
                background: rgba(17, 25, 29, .97);
                border: 1px solid rgba(255,255,255,.10);
                box-shadow: 0 25px 80px rgba(0,0,0,.45);
                color: #fff;
            }
            .footer-info-content h3 {
                margin: 8px 0 20px;
                font-size: 30px;
            }
            .footer-info-content p {
                color: rgba(255,255,255,.78);
                line-height: 1.75;
                margin-bottom: 14px;
            }
            .footer-info-close {
                position: absolute;
                top: 12px;
                right: 16px;
                width: 38px;
                height: 38px;
                border: 0;
                border-radius: 50%;
                background: rgba(255,255,255,.08);
                color: #fff;
                font-size: 28px;
                line-height: 1;
                cursor: pointer;
            }
            .footer-info-close:hover { background: rgba(255,255,255,.16); }
            @media (max-width: 576px) {
                .footer-info-dialog { padding: 30px 24px; }
                .footer-info-content h3 { font-size: 24px; }
            }
        </style>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const modal = document.getElementById('footer-info-modal');
            const title = document.getElementById('footer-info-title');
            const body = document.getElementById('footer-info-body');
            const close = modal.querySelector('.footer-info-close');
            const overlay = modal.querySelector('.footer-info-overlay');

            const info = {
                responsabilidad: {
                    title: 'Responsabilidad',
                    body: '<p>En TotalCounts trabajamos para brindar información y servicios contables, tributarios, laborales e informáticos de manera clara y responsable.</p><p>La información publicada en este sitio tiene carácter general y no sustituye el análisis particular de cada caso. Las decisiones deben considerar la documentación y circunstancias específicas de cada cliente.</p>'
                },
                terminos: {
                    title: 'Términos de Uso',
                    body: '<p>El uso de este sitio implica la aceptación de estas condiciones. El contenido se proporciona con fines informativos sobre los servicios de TotalCounts.</p><p>No está permitido utilizar, copiar o distribuir el contenido del sitio de forma que perjudique a TotalCounts o infrinja la normativa aplicable.</p>'
                },
                cookies: {
                    title: 'Acerca de Cookies',
                    body: '<p>Este sitio puede utilizar cookies y tecnologías similares para permitir el funcionamiento de determinadas características, mejorar la experiencia de navegación y obtener información estadística.</p><p>El usuario puede administrar o bloquear las cookies desde la configuración de su navegador. Algunas funciones podrían verse afectadas al deshabilitarlas.</p>'
                },
                privacidad: {
                    title: 'Políticas de Privacidad',
                    body: '<p>TotalCounts procura tratar los datos personales de sus usuarios y clientes de forma responsable y conforme a la normativa aplicable.</p><p>Los datos proporcionados mediante formularios o canales de contacto se utilizan para atender solicitudes, prestar servicios y mantener la comunicación relacionada con la relación comercial.</p><p>No se solicitarán datos personales innecesarios para la finalidad correspondiente.</p>'
                },
                accesibilidad: {
                    title: 'Accesibilidad',
                    body: '<p>Trabajamos para que nuestro sitio pueda ser utilizado por el mayor número posible de personas, procurando mantener una navegación clara, contenidos legibles y elementos interactivos identificables.</p><p>Si encuentras alguna dificultad de acceso o navegación, puedes comunicarla mediante nuestros canales de contacto para ayudarnos a mejorar.</p>'
                },
                mision: {
                    title: 'Misión',
                    body: '<p>Brindar soluciones contables, tributarias, laborales y tecnológicas que aporten claridad, orden y herramientas útiles para la gestión de nuestros clientes.</p><p>Buscamos acompañar a cada organización con servicios orientados a sus necesidades y a la correcta gestión de sus operaciones.</p>'
                },
                vision: {
                    title: 'Visión',
                    body: '<p>Consolidarnos como una organización reconocida por integrar conocimiento contable, tributario y tecnológico para ofrecer soluciones confiables y adaptadas a las nuevas necesidades empresariales.</p>'
                },
                objetivos: {
                    title: 'Objetivos',
                    body: '<p>Fortalecer la gestión de nuestros clientes mediante servicios especializados, procesos eficientes y herramientas tecnológicas.</p><p>Promover el cumplimiento de las obligaciones aplicables, mejorar la calidad de la información y facilitar la toma de decisiones empresariales.</p>'
                },
                acerca: {
                    title: 'Acerca de TotalCounts',
                    body: '<p>TotalCounts es una marca registrada, la aplicación web está diseñada para llevar el acceso total a los datos de su empresa en todos sus campos de acción.</p><p>Comercialización, Contabilidad, Balances, Laboral y archivo de documentos de sustento administrativo. Todo de manera automática e integrada.</p>'
                }
            };

            function openInfo(key) {
                const item = info[key];
                if (!item) return;
                title.textContent = item.title;
                body.innerHTML = item.body;
                modal.classList.add('active');
                modal.setAttribute('aria-hidden', 'false');
                document.body.style.overflow = 'hidden';
                close.focus();
            }

            function closeInfo() {
                modal.classList.remove('active');
                modal.setAttribute('aria-hidden', 'true');
                document.body.style.overflow = '';
            }

            document.querySelectorAll('.footer-info-link').forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    openInfo(this.dataset.info);
                });
            });

            const services = {
                tributario: {
                    title: 'Control Tributario',
                    body: '<p>Brindamos acompañamiento en el cumplimiento de las obligaciones tributarias y en la revisión de procesos relacionados con impuestos.</p><p>Analizamos la información disponible para identificar obligaciones, oportunidades de mejora y procedimientos adecuados ante la administración tributaria.</p>'
                },
                rrhh: {
                    title: 'Recursos Humanos',
                    body: '<p>Apoyamos a las empresas en la gestión de sus procesos laborales y de recursos humanos.</p><p>Incluye orientación sobre documentación, procedimientos internos, obligaciones laborales y aplicación adecuada de la normativa correspondiente.</p>'
                },
                reglamentos: {
                    title: 'Reglamentos',
                    body: '<p>Ayudamos a establecer y actualizar reglamentos y procedimientos internos necesarios para una adecuada organización empresarial.</p><p>El objetivo es contar con reglas claras que faciliten la gestión y el cumplimiento de las obligaciones aplicables.</p>'
                },
                societario: {
                    title: 'Societario',
                    body: '<p>Ofrecemos asesoramiento en asuntos relacionados con la organización y cumplimiento societario de las empresas.</p><p>Apoyamos en la revisión de documentación y procesos necesarios para mantener una adecuada gestión corporativa.</p>'
                },
                legal: {
                    title: 'Consultoría Legal',
                    body: '<p>Brindamos orientación legal relacionada con las necesidades de la empresa y sus operaciones.</p><p>Analizamos cada situación de acuerdo con la documentación y circunstancias particulares para orientar los pasos correspondientes.</p>'
                },
                auditorias: {
                    title: 'Auditorías',
                    body: '<p>Realizamos servicios de auditoría y revisión orientados a evaluar información, procesos y controles de la organización.</p><p>El análisis permite identificar aspectos que pueden ser fortalecidos y generar información útil para la administración.</p>'
                }
            };

            document.querySelectorAll('.footer-service-link').forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const item = services[this.dataset.service];
                    if (!item) return;
                    title.textContent = item.title;
                    body.innerHTML = item.body;
                    modal.classList.add('active');
                    modal.setAttribute('aria-hidden', 'false');
                    document.body.style.overflow = 'hidden';
                    close.focus();
                });
            });

            close.addEventListener('click', closeInfo);
            overlay.addEventListener('click', closeInfo);

            document.addEventListener('keydown', function (event) {
                if (event.key === 'Escape' && modal.classList.contains('active')) {
                    closeInfo();
                }
            });
        });
        </script>


    </body>
</html>